@model PredictWeb.Models.CovidViewModel
@{
    ViewData["Title"] = "Resultado";
}

<h1>Predição</h1>
<div class="">
    <p>De acordo com as informações fornecidas ao sistema o resultado das chances de internamento/óbito são de : @Model.ResultDesc</p>
</div>