@model PredictWeb.Models.IrisViewModel
@{
    ViewData["Title"] = "Predição";
}

<h1>Passar Medidas</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Result">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SepalLength" class="control-label">Tamanho da Sépala(cm)</label>
                <input asp-for="SepalLength" type="number" step="0.1" min="0" placeholder="Ex: 0,0" class="form-control" />
                <span asp-validation-for="SepalLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SepalWidth" class="control-label">Largura da Sépala(cm)</label>
                <input asp-for="SepalWidth" type="number" step="0.1" min="0" placeholder="Ex: 0,0" class="form-control"/>
                <span asp-validation-for="SepalWidth" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PetalLength" class="control-label">Largura da Pétala(cm)</label>
                <input asp-for="PetalLength" type="number" step="0.1" min="0" placeholder="Ex: 0,0" class="form-control"/>
                <span asp-validation-for="PetalLength" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PetalWidth" class="control-label">Largura da Pétala(cm)</label>
                <input asp-for="PetalWidth" type="number" step="0.1" min="0" placeholder="Ex: 0,0" class="form-control"/>
                <span asp-validation-for="PetalWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Prever" class="btn btn-primary" />
                <input type="reset" class="btn btn-warning" />
                <a class="btn btn-info"asp-controller="Home" asp-action="Index">Voltar a Página Inicial</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}