@model PredictWeb.Models.IrisViewModel
@{
    ViewData["Title"] = "Resultado";
}

<h1>Predição</h1>
<div class="">
    <p>De acordo com as medidas fornecidas é uma Iris : @Model.ResultDesc</p>
</div>
