@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home">
    <h1 class="display-4">Predict Iris</h1>
    <p id="descricao">
     Predict Iris tem o objetivo de prever qual tipo de espécie da flor Iris as medidas informadas se referem.    
    </p>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Faça aqui suas predições</h5>
                    <a class="btn btn-primary" asp-controller="Iris" asp-action="Index">Executar predição</a>
                </div>
            </div>
        </div>
    </div>
</div>
