@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home">
    <h1 class="display-4">Predict Web</h1>
    <p id="descricao">
        Plataforma Web que tem como objetivo executar a predição das chances de internamento e óbitos em pacientes com Covid-19
     @* Predict Iris tem o objetivo de prever qual tipo de espécie da flor Iris as medidas informadas se referem.     *@
    </p>
    <div class="row">
        <div class="col-sm-12">
            <div class="card col-4 shadow mx-auto" style="border-radius: 1.5rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Faça aqui suas predições</h5>
                    @* <p class="card-text"></p> *@
                    <a class="btn btn-primary rounded-pill" asp-controller="Covid" asp-action="Index">Executar predição</a>
                </div>
            </div>
        </div>
    </div>
</div>
