@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Essa aplicação não recebe nenhuma informação sensível ao usuário, somente trata de dados que não possam se relacionar a nenhuma pessoa.</p>
